<ul>
  {{#each groceryItems as |groceryItem|}}
    <li>
      <div class="box grocery-list-item">
        <article class="media">
          <div class="media-left">
            {{input type="checkbox" change=(action 'checkItem' groceryItem)}}
          </div>

          <div class="media-content">
            <div class="content columns">
              <figure class="column image is-64x64 is-1 grocery-item-image">
                <img src="/assets/images/{{groceryItem.name}}.png" alt="{{groceryItem.name}}">
              </figure>
              <p class="column">
                <strong>{{groceryItem.name}}</strong>
                <br>
                {{groceryItem.description}} Description
              </p>
            </div>
          </div>
          <div class="media-right">
            <button class="button is-danger" aria-label="delete" onclick={{action "deleteItem" groceryItem}}>
              <span class="icon is-small">
                <i class="fas fa-trash" aria-hidden="true"></i>
              </span>
            </button>
          </div>
        </article>
      </div>
    </li>
  {{/each}}
</ul>