.create-list-button {
  margin: auto;
  margin-right: 0.75rem;
}

.grocery-list-item {
  margin-bottom: 1em;
}

.leaflet-container{
  height: 400px;
  width: 30%;
}

.map {
  /*border-left: 1px solid #fff;*/
  /*position: inherit;*/
  /*left: 33.3333%;*/
  /*width: 66%;*/
  /*top: 0;*/
  /*bottom: 0;*/
  height: 95vh;
}

.map-grocery-list {
  padding: 1em 1em 0 1em;
}

.media.dropdown-item.dropdown-grocery-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
}

@media screen and (min-width: 1088px) {
  .create-list-button {
    display: none;
  }

  .map-grocery-list {
    overflow: auto;
    height: 95vh;
    /*width: 90%;*/
  }
}

@media screen and (max-width: 770px) {
  .map {
    height: 80vh;
  }

  .grocery-item-image {
    display: none;
  }

  .map-grocery-list {
    padding-top: 1rem;
  }
}