<nav class="navbar is-large is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    {{#link-to "index" class="navbar-item"}}
      <h4 class="title is-4" style="color: white;">Grocery Navigator</h4>
    {{/link-to}}
    {{#link-to "create" class="create-list-button button is-success"}}
      <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
    {{/link-to}}
  </div>
  <div class="navbar-menu">

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field">
          {{#if session.isAuthenticated}}
          <p class="control">
            {{#link-to "create" class="button is-success"}}
              <span class="icon">
                <i class="fas fa-plus"></i>
              </span>
              <span>Create New List</span>
            {{/link-to}}
          </p>
          {{else}}
          <p class="control">
            {{#link-to "login" class="button is-success"}}
              <span>Login</span>
            {{/link-to}}
          </p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="body">
  {{outlet}}
</div>
