<section class="section">
  <div class="container">
    <h2 class="title">Create New Grocery List</h2>
    <div class="field has-addons">
      <div class="control has-icons-left is-expanded">
        {{input type="text" value=newListName placeholder="Type a name..."class="input is-large is-success"}}
        <span class="icon is-medium is-left">
          <i class="fas fa-pen"></i>
        </span>
      </div>
      <div class="control">
        <button class="button is-success is-large" onclick={{action 'createGroceryList'}}>
          <span class="icon is-medium is-left">
            <i class="fas fa-plus"></i>
          </span>
          <span>Create Grocery List</span>
        </button>
      </div>
    </div>
  </div>
</section>