<section class="section">
  <div class="container">

    <h1 class="title">Edit Grocery List</h1>

    <div class="field">
      <div class="control has-icons-left">
        {{input type="text" value=searchText key-up=(action 'search') placeholder="Type to add an item..." class="input is-large is-success" focus-out="closeDropdown"}}
        <span class="icon is-medium is-left">
          <i class="fas fa-plus"></i>
        </span>
        <div class="dropdown {{if dropdownActive "is-active" ""}}" >
        <div class="dropdown-trigger"></div>
        <div class="dropdown-menu is-large container" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            {{#each searchResults as |result|}}
              <a class="media dropdown-item" onclick={{action "addItem" result}}>
                <div class="media-left">
                  <figure class="image is-64x64 is-1">
                    <img src="/assets/images/{{result.name}}.png" alt="{{result.name}}">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{result.name}}</strong>
                      <br>
                      {{result.description}}
                    </p>
                  </div>
                </div>
                <div class="media-right"></div>
              </a>
            {{/each}}
          </div>
      </div>

        </div>
      </div>
    </div>
    <ul>
      {{#each itemList as |groceryItem|}}
        <li>
          <div class="box grocery-list-item">
            <article class="media">
                {{input type="checkbox" change=(action 'checkItem' groceryItem) }}
              <div class="media-left">
              </div>

              <div class="media-content">
                <div class="content columns">
                  <figure class="column image is-64x64 is-1 grocery-item-image">
                    <img src="/assets/images/{{groceryItem.name}}.png" alt="{{groceryItem.name}}">
                  </figure>
                  <p class="column">
                    <strong>{{groceryItem.name}}</strong>
                    <br>
                    {{groceryItem.description}} Description
                  </p>
                </div>
              </div>
              <div class="media-right">
                <button class="button is-danger" aria-label="delete" onclick={{action "deleteItem" groceryItem}}>
                  <span class="icon is-small">
                    <i class="fas fa-trash" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
            </article>
          </div>
        </li>
      {{/each}}
    </ul>

    <div class="control">
      {{!-- TODO link using model.id or similar, pulling the id from the URL parameter --}}
      {{#link-to "map" 1 class="button is-success is-large"}}Shop{{/link-to}}
    </div>
    
  </div>
</section>
