<section class="section">
  <div class="container">
    <h2 class="title">Grocery Lists</h2>
    <ul>
      <div class="tile is-ancestor">
      {{#each model as |groceryList|}}
        {{#link-to "edit" groceryList.id class="tile is-4 is-parent"}}
          <article class="tile is-child notification is-info">
            <p class="title">{{groceryList.name}}</p>
            <p class="subtitle">{{groceryList.dateModified}}</p>
          </article>
        {{/link-to}}
      {{/each}}
      </div>
    </ul>
  </div>
</section>
