<section class="section">
  <div class="container">
    <h1 class="title">Login</h1>
    <div class="box">
      <form {{action 'authenticate' on='submit'}}>
        <div class="field">
          <div class="control has-icons-left">
            {{input value=username placeholder='Username' class=usernameInputClass}}
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            {{input value=password placeholder='Password' type='password' class=passwordInputClass}}
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="level">
          <div class="field level-left">
            <button type="submit" class="button is-success">Login</button>
            {{#if errorMessage}}
            <p class="help is-danger">
              {{errorMessage}}
            </p>
            {{/if}}
          </div>
          <div class="field level-right">
            {{#link-to "register" class="button is-primary"}}Register{{/link-to}}
          </div>
        </div>
      </form>
    </div>
  </div>
</section>