<!-- {{#leaflet-map lat=lat lng=lng zoom=zoom as |layers|}} -->
  <!-- {{layers.tile url="https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}} -->
  <!-- {{layers.tile url="https://geology.com/world/world-map-clickable.gif"}} -->
  <!-- {{layers.image url="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/Sydney_Opera_House_-_Dec_2008.jpg/1024px-Sydney_Opera_House_-_Dec_2008.jpg"
                  bounds=bounds zoom=zoom}} -->
  <!-- {{#each model as |groceryItem|}} -->
      <!-- {{#layers.marker lat=groceryItem.latitude lng=groceryItem.longtitude onClick=(action "checkItemFromList" groceryItem) as |marker|}} -->
          <!-- {{#if groceryItem.status}} -->
            <!-- {{#marker.popup}} -->
            <!-- Item: {{groceryItem.name}} checked -->
            <!-- {{/marker.popup}} -->
          <!-- {{else}} -->
            <!-- {{#marker.popup}} -->
            <!-- Item: {{groceryItem.name}} -->
            <!-- {{/marker.popup}} -->
            <!-- {{/if}} -->
      <!-- {{/layers.marker}} -->
  <!-- {{/each}} -->
<!-- {{/leaflet-map}} -->



<!-- SAMPLE CODE, NOT FINAL IMPLEMENTATION -->

<!-- {{#leaflet-map center=center zoom=zoom onLoad="getMap" as |layers|}} -->

  <!-- {{layers.tile url='/assets/images/mapLayout.svg'}} -->
  <!-- {{layers.tile url='http://a.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png'}} -->

  <!-- {{#each restaurants as |r|}} -->
  <!-- on click will remove object from list -->
    <!-- {{#layers.marker lat=r.lat lng=r.lng draggable=true onDragend=(action "updateLocation" r) as |marker|}} -->
      <!-- {{#marker.popup}} -->
        <!-- {{input value=r.name}} -->
        <!-- Rating: {{r.rating}}/5 -->
      <!-- {{/marker.popup}} -->
    <!-- {{/layers.marker}} -->
  <!-- {{/each}} -->

  <!-- {{#layers.polygon locations=dangerZone color="red" as |polygon|}} -->
    <!-- {{#polygon.tooltip}} -->
    <!-- DANGER ZONE -->
    <!-- {{/polygon.tooltip}} -->
  <!-- {{/layers.polygon}} -->

<!-- {{/leaflet-map}} -->

<!-- <h3>Portland Restaurants</h3> -->
<!-- <ul> -->
  <!-- {{#each restaurants as |r|}} -->
    <!-- <li> -->
      <!-- <strong>{{r.name}}</strong><br> -->
      <!-- Lat: {{input value=r.lat}} -->
      <!-- Lng: {{input value=r.lng}} -->
    <!-- </li> -->
  <!-- {{/each}} -->
<!-- </ul> -->

{{!--
<div style="height:50%; width:50%">
<figure class="image is-1by1">
  <img src="/assets/images/mapLayout.svg">
</figure>
</div> --}}
<!-- <div class='sidebar'>
  <div class='heading'>
    <h1>Our locations</h1>
  </div>
  <div id='listings' class='listings'></div>
</div>
<div id="map" class="map pad2"> </div>
<script type="text/javascript">
  mapboxgl.accessToken = 'pk.eyJ1IjoiZG9vbTk0NSIsImEiOiJjamtkMmt0ZDYzaWlzM3JxcTFlcnEwdGx1In0.X1cjVVbUTwj0rs_C3P4Pfw';
  // This adds the map to your page
  var map = new mapboxgl.Map({
    // container id specified in the HTML
    container: 'map',
    // style URL
    style: 'mapbox://styles/mapbox/light-v9',
    // initial position in [lon, lat] format
    center: [-122.91002601385115, 49.27764673061019],
    // initial zoom
    zoom: 18,
  });
  map.setMaxBounds(map.getBounds());


  map.on('load', function(e) {
    // Add the geojson file as a source
    map.addSource('geojsonFile',{
      'type': 'geojson',
      'data': 'assets/geojson.geojson'
    });
    // Add the data to your map as a layer
    map.addLayer({
      'id': 'shoppingAiles',
      // This option will fill out the colour of the polygon
      'type': 'fill',
      // Add a GeoJSON source
      'source': 'geojsonFile',
      'paint': {
        "fill-color": "red",
        'fill-opacity': 0.3,
      },
    });

  });








</script> -->
<div class="columns">
  <div class="column is-two-thirds is-paddingless">
    {{#mapbox-gl class="map" mapLoaded=(action 'setMapBounds') as |map|}}
      {{#map.source options=(hash type='geojson' data='/assets/geojson.geojson') as |source|}}
        {{source.layer layer=(hash
          type='fill'
          paint=(hash fill-color='red' fill-opacity=0.3))}}
      {{/map.source}}
      {{#map.source options=(hash type='geojson' data='/assets/markers.geojson') as |source|}}
        {{source.layer layer=(hash
            hash type='symbol' layout=(hash icon-image='star-15')
          )}}
      {{/map.source}}


      {{#each itemList as |groceryItem|}}
          {{#map.popup lngLat=[groceryItem.longtitude, groceryItem.latitude]}}
              {{groceryItem.name}}
          {{/map.popup}}
      {{/each}}

    {{/mapbox-gl}}
  </div>

  <ul>
      {{#each itemList as |groceryItem|}}
        <li>
          <div class="box grocery-list-item">
            <article class="media">
                {{input type="checkbox" change=(action 'checkItem' groceryItem)}}
              <div class="media-left">
              </div>

              <div class="media-content">
                <div class="content columns">
                  <figure class="column image is-64x64 is-1 grocery-item-image">
                    <img src="/assets/images/{{groceryItem.name}}.png" alt="{{groceryItem.name}}">
                  </figure>
                  <p class="column">
                    <strong>{{groceryItem.name}}</strong>
                    <br>
                    {{groceryItem.description}} Description
                  </p>
                </div>
              </div>
            </article>
          </div>
        </li>
      {{/each}}
    </ul>

  {{!-- {{#each model.groceryList as |groceryItem|}}
    <div class="list">
      <p> {{groceryItem.name}} </p>
      <button {{action "changeItemStatus" groceryItem.status}}> Check off item from list </button>
      {{#if (eq groceryItem.status true)}}
        <p> Insert checked image here </p>
      {{else}}
        <p> Insert unchecked image here </p>
      {{/if}}
    </div>
  {{/each}} --}}
</div>
