<section class="section">
  <div class="container">
    <h1 class="title">Register</h1>
    <div class="box">
      <form {{action 'register' on='submit'}}>
        <div class="field">
          <div class="control has-icons-left">
            {{input value=username placeholder='Username' class=usernameInputClass}}
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            {{input value=password placeholder='Password' type='password' class=passwordInputClass}}
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control has-icons-left">
            {{input value=confirmPassword placeholder='Confirm Password' type='password' class=passwordInputClass}}
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
          {{#if passwordErrorMessage}}
          <p class="help is-danger">
            {{passwordErrorMessage}}
          </p>
          {{/if}}
        </div>
        <div class="field">
          <button type="submit" class="button is-success">Register</button>
          {{#if errorMessage}}
          <p class="help is-danger">
            {{errorMessage}}
          </p>
          {{/if}}
        </div>
      </form>
    </div>
  </div>
</section>